.nav__links {
    background-color: $background-link;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.nav__socials {
    width: 35%;
    background-color: $background-socials;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media all and (min-width: $breakpoint-desktop) {
        width: 16%;
    }
}

.li {
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

    &:hover {
        background-color: $background-link-hover;
    }

    @media all and (min-width: $breakpoint-desktop) {
        height: 4.5rem;
    }

    &--socials:hover{
        background-color: $background-socials-hover;
    }

    &__link {
        font-size: 1.2rem;
        text-decoration: none;
        color: white;

        @media all and (min-width: $breakpoint-desktop){
            font-size: 1.5rem;
        }   
    }
}