<footer class="footer">
    <nav class="footer__nav">
        <ul class="nav__links">
            <li><a href="https://www.create-store.com/es/" class="links__link">Link1</a></li>
            <li><a href="https://www.create-store.com/es/" class="links__link">Link2</a></li>
            <li><a href="https://www.create-store.com/es/" class="links__link">Link3</a></li>
            <li><a href="https://www.create-store.com/es/" class="links__link">Link4</a></li>
        </ul>
        <ul class="nav__socials">
            <li><a href="https://www.facebook.com/createspainfacebook" class="links__link">FB</a></li>
            <li><a href="https://www.create-store.com/es/" class="links__link">TW</a></li>
            <li><a href="https://www.create-store.com/es/" class="links__link">G+</a></li>
        </ul>
    </nav>
</footer>