<footer class="footer">
    <nav class="footer-nav">
        <ul class="links-menu footer-menu">
            <li><a href="https://www.create-store.com/es/" class="link">Link1</a></li>
            <li><a href="https://www.create-store.com/es/" class="link">Link2</a></li>
            <li><a href="https://www.create-store.com/es/" class="link">Link3</a></li>
            <li><a href="https://www.create-store.com/es/" class="link">Link4</a></li>
        </ul>
        <ul class="footer-socials">
            <li><a href="https://www.facebook.com/createspainfacebook" class="link">FB</a></li>
            <li><a href="https://www.create-store.com/es/" class="link">TW</a></li>
            <li><a href="https://www.create-store.com/es/" class="link">G+</a></li>
        </ul>
    </nav>
</footer>