<header class="header">
  <section class="header-title">
    <img src="../assets/images/logo.png" alt="Logo de prueba"/>
    <h1>LayoutDeEjemplo</h1>
  </section>
  <nav>
    <ul class="links-menu">
      <li><a href="https://www.create-store.com/es/" class="link">Link1</a></li>
      <li><a href="https://www.create-store.com/es/" class="link">Link2</a></li>
      <li><a href="https://www.create-store.com/es/" class="link">Link3</a></li>
      <li><a href="https://www.create-store.com/es/" class="link">Link4</a></li>
    </ul>
  </nav>
</header>