<main class="main">
    <article class="article">
        <h2 class="article-title">Lorem ipsum dolor sit amet</h2>
        <p class="article-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias, rem temporibus minima veritatis assumenda eaque,
        ipsum aliquid tempora impedit nam labore laudantium, delectus. Quae iste perspiciatis voluptate maxime fuga.</p>
        <hr width="100%">
    </article>
    <article class="article">
        <h2 class="article-title">Lorem ipsum dolor sit amet</h2>
        <p class="article-p_special">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias, rem temporibus minima veritatis assumenda eaque,
        ipsum aliquid tempora impedit nam labore laudantium, delectus. Quae iste perspiciatis voluptate maxime fuga.</p>
        <hr width="100%">
    </article>
    <article class="article">
        <h2 class="article-title">Lorem ipsum dolor sit amet</h2>
        <p class="article-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias, rem temporibus minima veritatis assumenda eaque, ipsum aliquid tempora impedit nam labore laudantium, delectus. Quae iste perspiciatis voluptate maxime fuga.</p>
    </article>
</main>