// Esta es la variable que usaremos como tamaño por defecto
$defaultFontSize: 16;

// Estos son los tamaños para las media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// fonts
$font-basic: Arial, Helvetica, sans-serif;

// colors
$background-basic: #FF993E;
$background-link: #C0392B;
$background-socials: #874000;
$background-aside: #008000;
$color-title: #2B3325;

