// Size for media-queries

$breakpoint-tablet: 500px;
$breakpoint-desktop: 1024px;

// Colors
$background-basic: #FF993E;
$background-link: #C0392B;
$background-link-hover: #dc5b4d;
$background-socials: #874000;
$background-aside: #008000;
$color-title: #2B3325;

