.aside{

    @media all and (min-width: $breakpoint-desktop) {
        grid-column: 3/4;
        background-color: $background-aside;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    &-content{
        @media all and (min-width: $breakpoint-desktop){
            background-color: $background-basic;
            width: 210px;
            height: 133px;
            margin-bottom: 15px;
        }
    }
}