.aside{

    @media all and (min-width: $breakpoint-tablet){
        grid-column: 3/5;
        background-color: $background-aside;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
    }

    @media all and (min-width: $breakpoint-desktop) {
        grid-column: 3/4;
    }

    &__content{

        @media all and (min-width: $breakpoint-tablet){
            background-color: $background-basic;
            width: 100%;
            height: 15rem;
            margin-bottom: 1.5rem;
        }

        @media all and (min-width: $breakpoint-desktop) {
            max-width: 21rem;
        }
    }
}