.footer {
    background-color: $background-basic;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;

    @media all and (min-width: $breakpoint-tablet){
        grid-column: 1/5;
    }
    
    &__nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;

        @media all and (min-width: $breakpoint-desktop) {
            flex-grow: 0.8;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.footer .nav__links{
    width: 85%;

    @media all and (min-width: $breakpoint-desktop) {
        width: 25%;
    }
}