.footer {
    background-color: $background-basic;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;

    @media all and (min-width: $breakpoint-desktop){
        grid-column: 1/5;
    }
    
    &-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;

        @media all and (min-width: $breakpoint-desktop) {
            flex-grow: 0.8;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &-menu{
        width: 85%;

        @media all and (min-width: $breakpoint-desktop) {
            width: 25%;
        }
    }

    &-socials{
        width: 35%;
        height: 50px;
        font-size: 18px;
        background-color: $background-socials;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media all and (min-width: $breakpoint-desktop) {
            height: 45px;
            width: 16%;
            font-size: 15px;
        }
    }
}
