.header {
    background-color: $background-basic;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;

    @media all and (min-width: $breakpoint-desktop) {
        grid-column: 1/5;
        flex-direction: row;
        justify-content: space-evenly;
    }

    &-title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.5rem;
        flex-grow: 1;
        gap: 1rem;

        @media all and (min-width: $breakpoint-desktop){
            flex-grow: 0;
            font-size: 3rem;
        }
    }
    
    &-title img{
        width: 5.2rem;
        height: 5.2rem;

        @media all and (min-width: $breakpoint-desktop) {
            width: 4.5rem;
            height: 4.5rem;
        }
    }

    &-nav{
        @media all and (min-width: $breakpoint-desktop) {
            width: 43rem;
        }
    }
}

.link{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.links-menu {
    height: 5rem;
    background-color: $background-link;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media all and (min-width: $breakpoint-desktop){
        height: 4.5rem;
        font-size: 1.5rem;
    }
}

.header .links-menu{
    @media all and (min-width: $breakpoint-desktop) {
        margin-top: 2rem;
    }
}
