.main{
    grid-row: 2/3;
    padding: 0 20px;
    background-color: white;

    @media all and (min-width: $breakpoint-desktop) {
        grid-column: 2/3;
    }
}

.article{

    &-title{
        font-weight: 700;
        font-size: 26px;
        margin: 20px 0;
    }

    &-p{
        font-size: 17px;
        margin-bottom: 20px;

        &_special{
            font-size: 17px;
            margin-bottom: 20px;
            margin-left: 25px;
            width: 80%;
            border-left: 3px solid lightgrey;
            padding-left: 12px;
        }
    }
}