@import 'core/variables';
@import 'core/reset';
@import 'core/mixins';
@import 'components/nav';
@import 'core/animations';
@import 'layout/header';
@import 'layout/main';
@import 'layout/aside';
@import 'layout/footer';

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 19vh 1fr 18vh;

    @media all and (min-width: $breakpoint-tablet) {
        grid-template-columns: 6.5vw 61vw 26vw 6.5vw;
    }

    @media all and (min-width: $breakpoint-desktop) {
        grid-template-rows: 11vh 1fr 10vh;
        background-color: rgb(234, 234, 234);
    }
}


